.logo-container
  .logo-block
    .logo-link
      = BlogSetting.blog_title
    .logo-text
      Admin
.header-right
  .userbox#userbox
    .profile-info
      %span.name
        Welcome,
        = current_user
      %span.role
        Administrator
