.body.main-content
  .article-wrapper
    = render partial: "article", collection: @articles
  .about-me-promotion
    = render 'shared/about_me'
.pagination-container
  = render 'shared/pagination'
  .clear
