.introduce
  My name is Tran Duy Khoa.
  %br
  I'm a senior fullstack Ruby on Rails developer, with 3 years experience in Web Development.
  %br
  Currently I am the Tech leader of ITviec Company - The best job website for IT people in Viet Nam.
.contact-me-icons
  %h3 Contact me at
  = render 'abouts/contact_me'
  %h5 Or drop me an email at duykhoa12t@gmail.com
.avatar
  %h3 My Avatar
  = image_tag "duykhoa/avatar.jpg"
