.article-container{id: ['article', action_name]}
  .left-content
    .title
      %h1= @article.title
    .content
      = @article.content.html_safe
    .related-post
      %h2
        You may also like
      %ul
        - @article.related_articles.each do |related_article|
          %li= link_to related_article.title, related_article

