= content_for :article_show do
  %meta{property: 'og:title', content: @article.title}
  %meta{property: 'og:description', content: @article.short_content}
  %meta{property: 'og:url', content: article_url(@article)}

.main-content
  .article-container
    .title
      = @article.title
    .content
      = @article.content.html_safe
  .comment-box
    hi
