// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bourbon';
@import 'variable';
@import "font-awesome";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Cabin:700);

$green: #62af3c;

body {
  border-top: 10px solid $green;
}

* {
  font-family:'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #555;
  font-weight: 300;
  line-height: 1.55em;
}

a {
  @include transition(all 0.4s ease-in-out);
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #111;
}

a:hover {
  color: $green;
}

h1 {
  font-size: 3.5em;
  font-family: "Cabin";
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 4px;
  font-weight: 500;
}

h4 {
  font-size: 1.2em;
}

img {
  width: 100% !important;
  padding: 7px 0;
}

.container {
  width: 57%;
  margin: 0 auto;
  min-width: 500px;
  padding: 0 5px;

  @media (max-width: 768px) {
    width: calc(100% - 10px);
    min-width: initial;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.small {
  font-size: 0.8em;
}

header {
  margin: 30px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 2px solid $green;
}

nav span.item {
  display: inline-block;
  padding: 10px 5px;
}

nav {
  a {
    font-size: 0.85em;
  }
}

article {
  margin-top: 10px;
}

.article-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;

  a {
    h3 {
      @include transition(all 0.4s ease-in-out);
    }
  }

  a:hover {
    h3 {
      color: $green;
    }
  }
}

.post-time {
  margin-top: 4px;
  color: #999;
  font-size: 0.85em;

  .fa {
    color: #999;
  }
}

.fb-like-container, .related-post-wrapper, .facebook-comment {
  margin-top: 20px;
}

.related-post-wrapper {
  border-top: 1px solid #DDD;
  padding-top: 10px;

  ul {
    margin-top: 5px;
    list-style: none;
    margin-left: 10px;

    li {
      a {
        font-size: 0.85em;
      }
    }
  }
}

.introduce {
  margin-top: 15px;
}

.contact-me-icons {
  .fa {
    font-size: 30px;
  }
}

.page {
  display: none;
}

.last {
  @extend .page;
}

.first {
  @extend .page;
}
