.navbar-content
  .list-items
    %ul
      %li.category-responsive
      %li.logo
        = link_to BlogSetting.blog_title, root_path
      %li.search-box
        = render_shortcut 'shared/search_box'
