.subcriber-box
  .message
    .title
      %h1
        I think marketing is awesome!
    .subtitle
      %h3 We'll make good companies. Let's keep in touch
  .form
    = render 'email_subscribes/form'
