.comment-box {
  margin-bottom: 50px;

  form {
    @include display(flex);
    @include flex-wrap(wrap);
    width: 90%;

    textarea {
      resize: none;
      border: 0;
      border-radius: 3px;
      width: 90%;
      background: $confession-gray-color;
      outline: none;
      color: $confession-white-color;
      font-size: 20px;

      @include box-sizing(border-box);

      @media (max-width: 800px) {
        width: 100%;
      }
    }

    input[type='submit'] {
      @extend textarea;

      @include button-appearance();

      margin-left: 1%;
      width: 9%;
      font-weight: 700;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        padding: 10px 0;
      }
    }
  }

  .comment-list {
    .comment-wrapper {
      margin: 10px 0;
      width: 90%;
      border: 2px dashed $confession-gray-color;

      .comment-container {
        padding: 10px;
        color: $confession-gray-color;

        .author {
          font-size: 11px;
          margin-top: 15px;
          margin-left: 15px;
        }
      }
    }
  }
}
