@import 'variables';

svg {
  symbol#icon-heart {
    fill: $confession-gray-color;
  }
}

.container {
  @include display(flex);
  @include justify-content(flex-end);
}


.main-content {
  width: $width;

  .article-container {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dotted $confession-gray-color;

    .title {
      width: 70%;
      color: $confession-white-color;
      font-size: 65px;
      font-weight: 700;
      line-height: 1.1em;

      a {
        @include link-style();
      }
    }

    .post-time {
      color: $confession-gray-color;
      margin-top: 20px;
    }

    .content {
      font-size: 25px;
      line-height: 1.6em;
      width: 90%;
      color: $confession-gray-color;

      a {
        @include link-style();
      }

      iframe {
        max-width: 100% !important;
      }

      img, table, input {
        @extend iframe;
      }
    }
  }

  .article-wraper {
    margin-top: 25px;
    .article-container {
      @extend .article-container;
    }
  }
}
