// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@import "main-content";
@import "comment";

body {
  background: $confession-dark-color;
  margin: 0 25px;
  margin-top: 10px;
  font-family: 'Arimo';
}

.header-text {
  a {
    text-decoration: none;
    h1 {
      color: white;
      font-weight: 700;
      font-size: 30px;
      margin: 0;
    }
  }
}
