%header.page-header
  %h2 Edit About page
  .back.pull-left
    = link_to "Go Back", v2_admin_about_path, class: 'btn btn-default btn-custom-default'
.row
  .col-lg-12
    = simple_form_for [:v2_admin, @about] do |f|
      .field
        = f.input :content, label: false
        %br/
      .actions
        = f.submit "Update", class: 'btn btn-default btn-custom-default'
