@import "variables";
@import "bourbon";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "theme";
@import "admin_font";
@import "summernote/summernote";
@import "summernote/summernote-bs3";

html.fixed {
  height: 100%;
}

body.admin {

  .nano-content {
    height: 100%;
  }

  .logo-container {
    display: inline;
  }

  .logo-block {
    display: inline-block;
    margin-left: 10px;

    .logo-link {
      font-size: 18px;
      font-family: "Lobster", Arial, sans-serif;
    }

    .logo-text {
      text-align: right;
      font-size: 11px;
      font-weight: 700;
      color: $admin-green-color;
    }
  }

  .btn.btn-custom {
    background: $admin-green-color;

    @include transition(opacity 0.3s ease, transform 1s ease-out);
    opacity: 0.9;

    &:hover {
      opacity: 1;
      @include transform(translateX(10px));
    }
  }

  .btn-file {
    width: 100%;
  }

  header.page-header {
    a.btn {
      color: $admin-white-text-color;
      margin-top: 5px;
      font-family: "Lobster", Arial, sans-serif;
      font-size: 18px;
    }
  }

  .input.required {
    label.required {
      font-size: 15px;
      color: $admin-gray-text-form-color;
    }

    abbr {
      color: red;
    }
  }

  .row {
    background: white;
    padding: 15px 0;
    border-radius: 3px;
  }

  section.content-body {
    background: #EEE;
  }

  .input {
    width: 100%;
  }

  input[type='submit'].article-submit-button, input[type='submit'].blog-settings-submit-button {
    font-size: 14px;
    color: $admin-gray-text-form-color;
    border: 1px solid $admin-green-color;
    background: white;
    padding-left: 25px;
    padding-right: 25px;

    @include transition(all 0.8s ease-in-out);

    &:hover {
      background: $admin-light-green-color;
      opacity: 0.8;
    }
  }

  .btn-custom-default {
    color: $admin-gray-text-form-color !important;

    &:hover {
      background: $admin-white-text-color;
    }
  }

  .section-publishing {
    border: 1px solid $admin-gray-border-color;
  }
}

.label.published {
  font-size: 11px;
  background: $admin-green-color;
}

.label.draft {
  @extend .label.published;
  background: $admin-orange-color;
}

#nprogress .bar {
  background: $admin-green-color !important;
}

#nprogress .spinner-icon {
  border-top-color: $admin-light-green-color !important;
  border-left-color: $admin-light-green-color !important;
}

#blog_settings_form {
  label {
    color: $admin-gray-text-form-color;
    font-size: 15px;
    abbr {
      display: none;
    }
  }

  .input {
    margin-bottom: 10px;

    input, textarea {
      font-weight: 400;
    }
  }
}
