form {
  @media (min-width: 600px) {
    margin-left: 10%;
    width: 90%;
  }

  .email-subscriber-wrapper {
    color: white;
    background: $confession-gray-color;
    margin-top: 25px;
    padding: 30px 0;
  }

  .form-wrapper {
    width: 80%;
    margin: 0 auto;

    h3 {
      font-weight: 300;
      margin: 10px 0;
    }
  }

  input {
    border: 0;
    font-size: 14px;
    display: inline-block;
    padding: 10px 5px;;
    font-weight: 300;
    width: calc(100% - 10px);
  }

  input[type='submit'] {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;

    @include button-appearance();
    @include button-hover-effect();

    background: #EEE;

    @include link-style($confession-dark-color);
  }
}
