@import 'variables';

.body-container {
  width: $width;
  margin: 0 auto;

  .slogan {
    margin-top: 35px;
    padding-bottom: 30px;
    width: 100%;

    border-bottom: 2px solid $confession-dark-color;

    h1 {
      font-size: 40px;
      font-weight: 300;
    }
  }
}

.main-content {
  @include display(flex);
  @include flex-wrap(wrap);

  .article-wraper {
    @inlcude flex-grow(1);
  }

  .article-container {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dotted $confession-gray-color;

    .feature-image {
      max-height: 400px;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        max-height: 400px;
        max-width: 100%;
      }
    }

    .title {
      color: $confession-dark-color;
      font-size: 30px;
      line-height: 1.1em;
      font-weight: 300;

      @media (max-width: 500px) {
        font-size: 21px;
        font-weight: 400;
      }

      a {
        @include link-style($confession-dark-color);
      }
    }

    .post-time {
      color: $confession-gray-color;
      font-size: 12px;
      margin: 20px 0 10px 0;
    }

    .content {
      font-size: 17px;
      line-height: 1.6em;
      font-weight: 300;
      color: $confession-dark-color;

      a {
        @include link-style();
      }

      iframe {
        max-width: 100% !important;
      }

      img, table, input {
        @extend iframe;
      }
    }

    .read-more {
      margin-top: 25px;

      a {
        display: block;
        font-size: 14px;
        background: $confession-gray-read-more-color;
        border-radius: 3px;
        padding: 5px 0;
        text-align: center;

        @include link-style($confession-dark-color);
        @include button-hover-effect();
        font-weight: 400;
      }
    }
  }

  .top-cover {
    img {
      max-width: 100%;
    }
  }

  .article-wraper {
    margin-top: 25px;
    width: 70%;
    @include flex-grow(1);

    .article-container {
      @extend .article-container;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .right-container {
    min-width: 250px;
    width: 30%;
    margin-bottom: 15px;
    @include flex-grow(1);

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.fb-comment-wrapper {
  margin-top: 20px;
}
