@mixin link-style($color: $confession-white-color) {
  text-decoration: none;
  outline: none;
  color: $color;
  font-weight: 300;
}

@mixin button-hover-effect {
  &:hover {
    opacity: 0.9;
    background: $link-green-color;
    border-color: white;
    color: white;
  }

  @include transition(opacity 0.3s ease, background 0.4s ease-in-out, border 0.4s, color 0.4s);
}

@mixin button-appearance {
  @include transition(opacity 0.2s ease);
  @include appearance(none);
}
