$confession-dark-color: #0A0C0D;
$confession-gray-color: #444;
$confession-white-color: #B3B3B3;
$confession-gray-read-more-color: #DBDBDB;

$confession-green-color: #BDECB6;
$link-green-color: #62AF3C;

// variable

$width: 85%;
$small-size-width: 100%;
