$confession-dark-color: #0A0C0D;
$confession-gray-color: #444;
$confession-white-color: #B3B3B3;
$confession-gray-read-more-color: #DBDBDB;

$confession-green-color: #BDECB6;

// variable

$width: 85%;
$small-size-width: 100%;

// ADMIN SITE variables

$admin-green-color: #039303;
