// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@import "main-content";
@import "comment";

body {
  background: $confession-dark-color;
  margin: 0 25px;
  margin-top: 10px;
  font-family: 'Arimo';
}

.header-text {
  a {
    text-decoration: none;

    h1 {
      color: white;
      font-weight: 700;
      font-size: 30px;
      margin: 0;
    }

    @media (max-width: 900px) {
      text-align: center;

      h1 {
        margin: 25px 0 40px 0;
        border-bottom: 1px solid $confession-gray-color;
        padding-bottom: 10px;
      }
    }
  }
}

form#new_user {
  width: 70%;

  input[type='email'], input[type='password'] {
    margin-top: 30px;
    padding: 10px 2%;
    border: 0;
    border-radius: 3px;
    width: 96%;
    background: $confession-gray-color;
    color: $confession-white-color;
  }

  input[type='submit'] {
    @extend input[type='email'];
    width: 100%;
    cursor: pointer;

    @include button-appearance();

    &:hover {
      opacity: 0.8;
    }
  }
}
