// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@import "main-content";
@import "comment";
@import "email-subscriber";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: $confession-dark-color;
  padding: 15px 0;
}

nav {
  ul.category {
    list-style: none;
    padding: 15px 10px;
    margin: 0;
    border-bottom: 1px solid $confession-dark-color;

    @include display(flex);
    @include justify-content(space-between);

    li {
      display: inline-block;

      a {
        @include link-style(black);
        @include transition(color 0.2s ease-in-out);

        &:hover {
          color: $confession-gray-color;
        }
      }

      &.active {
        a {
          font-weight: 400;
        }
      }
    }
  }
}

.header-text {
  width: $width;
  margin: 0 auto;
  a {
    text-decoration: none;

    h1 {
      color: white;
      font-weight: 300;
      font-size: 24px;
      margin: 0;
    }

    @media (max-width: 900px) {
      text-align: center;

      h1 {
        margin: 25px 0 40px 0;
        border-bottom: 1px solid $confession-gray-color;
        padding-bottom: 10px;
      }
    }
  }
}

form#new_user {
  width: 70%;

  input[type='email'], input[type='password'] {
    margin-top: 30px;
    padding: 10px 2%;
    border: 0;
    border-radius: 3px;
    width: 96%;
    background: $confession-gray-color;
    color: $confession-white-color;
  }

  input[type='submit'] {
    @extend input[type='email'];
    width: 100%;
    cursor: pointer;

    @include button-appearance();

    &:hover {
      opacity: 0.8;
    }
  }
}

.fb-like-container {
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
}

a.share-square {
  background: url(asset-path('v2_0/images/social-icons.png')) no-repeat scroll left top transparent;

  &.share-square-facebook {
    background-position: -384px -44px;
  }

  &.share-square-googleplus {
    background-position: -288px -44px;
  }

  &.share-square-twitter {
    background-position: -64px -44px;
  }

  &.share-square-linkedin {
    background-position: -224px -44px;
  }
}
