// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bourbon';
@import 'variable';
@import "font-awesome";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Dosis:200&subset=latin,latin-ext);

* {
  font-family:'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #555;
  font-weight: 300;
  line-height: 1.6em;
}

a {
  @include transition(all 0.4s ease-in-out);
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #2ecc71;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 4px;
}

h4 {
  font-size: 1.2em;
}

img {
  width: 100%;
}

.container {
  width: 55%;
  margin: 0 auto;
  min-width: 600px;
  padding: 0 5px;

  @media (max-width: 768px) {
    width: calc(100% - 10px);
    min-width: initial;
  }
}

.text-center {
  text-align: center;
}

header {
  margin: 30px 0;
  padding: 30px 0;
}

.article-wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid #EEE;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-time {
  margin-top: 4px;
  color: #999;
  font-size: 0.85em;

  .fa {
    color: #999;
  }
}

.fb-like-container, .related-post-wrapper, .facebook-comment {
  margin-top: 20px;
}

.related-post-wrapper {
  border-top: 1px solid #DDD;
  padding-top: 10px;

  ul {
    margin-top: 5px;
    list-style: none;
    margin-left: 10px;

    li {
      a {
        font-size: 0.85em;
      }
    }
  }
}
