:javascript
  if ($(window).width() < 700) {
    width = Math.floor(0.8375 * $(window).width());
    $('.fb-comments').attr('data-width', width + 'px');
  }

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=#{BlogSetting.fb_app_id}&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
