.subcriber-box
  .message
    .title
      %h1
        NEWSLETTER SIGNUP
    .subtitle
      %h3 Subscribe here to receive weekly email notifications on new post, interesting tips, and inspirations so you won't miss any update! We promise not to overwhelm your inbox!
  .form
    = render 'email_subscribes/form'
