// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variable';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1vmax;
}

html {
  overflow-x: hidden;
}

body {
  width: $content-width;
  margin: 0 auto;
  color: $text-color-gray;
}

.clear {
  clear: both;
}

.header {
  position: relative;
  &:before, &:after {
    content: '';
    display: inline-block;
    background-color: #EEE;
    height: 40px;
    position: absolute;
    top: 0;
  }

  &:before {
    padding-left: 500%;
    margin-left: -500%;
  }

  &:after {
    padding-right: 500%;
    margin-right: -500%;
    right: 0;
  }

  height: 40px;
  background-color: #EEE;
  .navbar-content {
    width: 100%;
    display: inline-block;

    .list-items {
      display: table;
      width: 100%;
      height: 40px;

      ul {
        display: table-row;
        list-style: none;
        font-size: 1.2vmax;

        li, a:link, a:hover, a:visited, a:active {
          text-decoration: none;
          color: $text-color-gray;
        }
      }

      .logo {
        a {
          font-size: 1.2vmax;
        }
      }
      .logo, .search-box {
        display: table-cell;
        vertical-align: middle;
      }

      .search-box {
        text-align: right;
      }
    }
  }
}

.navigation-menu {
  ul {
    text-align: center;
    list-style: none;
    width: 100%;

    a:link, a:hover, a:visited {
      text-decoration: none;
      color: $text-color-gray;

      li {
        display: inline-block;
        padding: 10px 0;
        width: 20%;
        text-align: center;
        position: relative;
        border-left: 1px solid #EEE;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;

        &:last-child {
          border-right: 1px solid #EEE;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 2px;
          background-color: $green-navbar;
        }
      }

      li:hover {
        @extend li.active;
      }

      li.active {
        font-weight: bold;

        &:before {
          background-color: green;
        }
      }
    }
  }
}

.body.main-content {
  margin-top: 20px;

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  .love {
    width: $content-width;
    margin: 0 auto;
  }

  .article-container {
    margin-top: 2vh;
    width: 48%;
    float: right;

    &:nth-child(odd) {
      float: left;
    }

    .feature-image {
      height: 45vh;
      overflow: hidden;
      width: 100%;
      border: 1px solid $gray;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      img {
        width: 100%;
        display: block;
      }
    }

    .post-time {
      margin: 1.2vh 0;
      font-size: 0.92vmax;
      color: $date;
    }

    .title {
      a, a:hover, a:visited {
        text-decoration: none;
        color: $title;
        font-weight: bold;
        font-size: 1.3vmax;
      }

      a:hover {
        color: $title-hover;
      }
    }

    .short-content {
      margin-top: 2vh;
    }
  }
}

.article-container#article_show {
  .left-content {
    margin-top: 3.5vh;
    line-height: 2.2em;
    width: 70%;
    .title {
      h1 {
        color: $title;
        font-size: 1.9vmax;
      }
    }

    .content {
      color: #333;
      margin-top: 2.5vh;
      a, a:hover, a:visited {
        color: $green-navbar;
        text-decoration: none;
      }
    }

    .related-post {
      margin-top: 3vh;
      padding-top: 3vh;
      border-top: 1px solid $gray;

      ul {
        list-style: none;
        li {
          padding-left: 5px;
          a {
            text-decoration: none;
            color: $green-navbar;
            font-size: 0.95vmax;
          }
        }
      }
    }
  }
}

.share-social {
  margin-top: 2vh;
  .share-button.sharer-0 {
    height: auto;

    label.entypo-export {
      display: none;
    }

    .social.middle.right.networks-3.active {
      margin: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
}
