.subcriber-box
  .message
    .title
      %h1
        Marketing stories are awesome!
    .subtitle
      %h3 Receive and learn from the most exciting marketing stories in your inbox
  .form
    = render 'email_subscribes/form'
